<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title & Entry</th>
        <th>Category</th>
        <th>Author</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @blog_posts.each do |blog_post| %>
        <tr>
          <td><b><i><%= blog_post.title %></i></b><br>
              <% if blog_post.entry.size <= 50 %> 
                  <%= blog_post.entry %>
              <% else %>
                  <%= blog_post.entry[0..50] %> ...
              <% end %>
          </td>
          <td><%= blog_post.category.name %></td>
          <td><%= blog_post.user.first_name %> <%= blog_post.user.last_name %></td>
          <td><%= link_to 'Edit', edit_blog_post_path(blog_post),remote: true, class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', blog_post, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>