<%= form_with(model: @blog_post, remote: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_post_title, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :entry %>
    <%= form.text_area :entry,rows: 10, id: :blog_post_entry, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select(:category_id, @categories.collect{|c| [c.name, c.id]}, {include_blank: "Select Category"}, id: :blog_post_category_id, class: "form-control input-lg") %>
  </div>

  <div class="hidden">
    <%= form.label :sub_category_id %>
    <%= form.number_field :sub_category_id, id: :blog_post_sub_category_id, class: "form-control input-lg", value: 1 %>
  </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <br>
  <div class="actions">
    <%= form.submit class: "btn btn-default btn-block" %>
  </div>
<% end %>
