<%= render 'home/navbar' %>
<header class="intro-header2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @blog_post.title %></h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title hidden">
                       <%= @blog_post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= @blog_post.entry.html_safe %>
                    </h3>
                </a>
                <p class="post-meta">Posted by <b><%= @blog_post.user.first_name %> <%= @blog_post.user.last_name %></b> on <%= @blog_post.created_at.strftime("%B %d, %Y") %>
                </p>
            </div>
            <hr>
            <div id="comment-form">
            <%= render 'comments/form' %>
            </div>
            <hr>
            <div class="post-preview">
                <div id="comments">
                    <%= render 'comments/comments' %>
                </div>
            </div>
        </div>
    </div>
</div>
