<!-- Main Content -->
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% @blog_posts.each do |blog_post| %>
            <div class="post-preview">
                <%= link_to blog_post do %>
                    <h2 class="post-title">
                       <%= blog_post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= blog_post.entry.html_safe %>
                    </h3>
                <% end %>
                <span class="post-meta">Posted by <b><%= blog_post.user.first_name %> <%= blog_post.user.last_name %></b> on <%= blog_post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
                </span><br>
                <%= link_to "#collapseExample", "role" => "button", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "collapseExample" do %> <%= blog_post.comments.count %> comments <% end %>
                        <div class="collapse" id="collapseExample">
                          <div>
                            <% blog_post.comments.each do |comment| %>
                            <h3 class="post-subtitle" style="font-weight: 300;">
                            <%= comment.entry %>
                            </h3>
                            <span style="color: #777777;font-size: 18px;
  font-style: italic; margin-top: 0;">Commented by <b><%= comment.user.first_name %> <%= comment.user.last_name %></b> on <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
                            <hr>
                            <% end %>
                          </div>
                        </div>
               <!--  <span class="post-meta"><i>2 comments</i></span> -->
            </div>
          <% end %>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>