<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    
                    <li>
                        <%= link_to "https://www.linkedin.com/in/bart-de-nef-6220ab11b" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "https://twitter.com/bartdn183" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "https://www.facebook.com/bdn183" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "https://www.instagram.com/bartdn183" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "https://www.github.com/bartdn183" do %>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        <% end %>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Bart's Blog 2017</p>
            </div>
        </div>
    </div>
</footer>
